/*
===================
UNIVERSAL VARIABLES
===================
*/
:root {
  /* PALLET */
  --primary-red: #d90429;
  --primary-turquoise: #00d9bf;
  --primary-fuchsia: #e725e7;
  --primary-yellow: #fffbd6;
  --primary-black: #0a0a0a;

  /* GLOW */
  --glow-red: rgba(217, 4, 41, 0.5);
  --glow-turquoise: rgb(162, 255, 244);
  --glow-fuchsia: rgba(231, 37, 231, 0.2);

  /* TEXT GLOW */
  --text-glow-1: rgba(255, 255, 255, 0.7);
  --text-glow-2: rgba(255, 255, 255, 0.5);
  --text-glow-3: rgba(255, 255, 255, 0.3);

  /* SOCIAL ICONS - glass look*/
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.2);
  --glass-shadow: rgba(0, 0, 0, 0.3);
  --glass-inset: rgba(255, 255, 255, 0.1);

  /* Reflection Effect */
  --reflection-1: rgba(255, 255, 255, 0);
  --reflection-2: rgba(255, 255, 255, 0.03);
  --reflection-3: rgba(255, 255, 255, 0.4);

  /* Backgrounds */
  --bg-dark: #0a0a0a;
  --bg-red: #330000;
  --bg-overlay: rgba(0, 0, 0, 0.8);
  --bg-grid: rgba(10, 10, 10, 0.2);

  /* SHADOW */
  --shadow-sm: 0 2px 16px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 40px rgba(0, 0, 0, 0.35);

  /* ==== 
   MISC
  ==== */

  /* Darker Colors */
  --dark-1: #121520;
  --dark-2: #192032;
  --dark-3: #1d263d;

  /* Effects */
  --light: #e0e5f0;
  --light-transparent: rgba(255, 255, 255, 0.1);
}

/*
===========
TEXT STYLES
===========
*/
.uni-text-emphis {
  font-style: italic;
  font-weight: 200;
  color: var(--primary-turquoise);
}

.uni-text-emphis:hover {
  color: var(--glow-turquoise);
  cursor: help;
}

.additional-info {
  position: relative;
  display: inline-block;
  margin-left: 0.25em;
}

.additional-info i{
  cursor: help;
  font-size: 0.9em;
  color: var(--primary-fuchsia);
}

.uni-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  z-index: 10;
  width: 200px;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  transition: opacity 0.2s ease;
}

.additional-info:hover .uni-tooltip {
  visibility: visible;
  opacity: 1;
}

.small-text {
  font-size: 0.8rem;
  color: var(--text-glow-1);
  margin-top: 0.5rem;
  display: block;
}